* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#bb {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    overflow: hidden;
    margin:  50px 500px auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start ;
}

#bb > div {
    width: 250px;
    height: 250px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    margin: auto auto;
  text-shadow:15px 12px 5px gray;
}

#id4 {
    align-self: center;
}

.container {
    max-width: 750px;
    margin: 50px auto;
}

.operator-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content : space-around;
}

.operator-btn > button {
    background-color : #AED6F1  ;
    padding: 15px;
    border-radius: 7px;
    border: none;
    color: #707B7C ;
    transition: background-color 0.5s ease, 
                color 0.5s ease,
                transform 0.5s ease;
    font-size: 30px;
    margin: 30px auto;
}

.operator-btn > button:hover {
    background-color : #5DADE2  ;
    color: #E5E7E9  ;
}

.operator-btn > button:active {
    transform: scale(1.05);
}

#result {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

/*!Calculator*/

.warpper {
    max-width: 400px;
    margin: 0 auto;
    background-color: #000;
}

.screen {
    display: flex;
    flex-flow: column nowrap;
    background-color: #000;
    min-height: 80px;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.screen .previous {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
    word-wrap:  break-word;
    word-break: break-all;
} 

.screen .current {
    font-size: 2.5rem;
    color: #ffffff;
    word-wrap:  break-word;
    word-break: break-all;
} 


.calc_btn_row {
    display: flex;
    align-content:  stretch;
    justify-content: space-between;
    margin-bottom: 0.8%;
}
    
.calc_btn {
    background-color: #d8d8d8;
    color : #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    border: none;
    height: 100px;
    flex-basis: 24.5%;
    cursor: pointer;
}

.calc_btn:hover{
    background-color: #ebebeb;
}

.calc_btn:active{
    background-color: #bbbcbe;
}

.calc_btn:last-child{
    background-color:  #df9744;
    color: #ffffff;
}

.calc_btn:last-child:hover{
    background-color:  #dfb07e;
}

.double {
    flex-basis: 49.7%;
}