* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 750px;
    margin: 50px auto;
}

button {
    margin: auto;
}

.operator-btn > button {
    background-color : lightgray ;
    max-width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: tomato;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.operator-btn > button:hover {
    background-color : black ;
    color: white;
}


